.ActivityList__Item {

}

.ActivityList__ItemBox {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.ActivityList__ItemBoxHeader {
  margin-top: 0;
}

.ActivityList__ItemBoxHeader:hover {
  text-decoration: underline;
}

.ActivityList__ItemLink:hover {
  text-decoration: none;
}

.ActivityList__MessageLink {
  float: right;
}

.activity__header-icon {
  margin-bottom: 4px;
  margin-left: 1px;
  margin-right: 10px;
}

.activity__header-badge {
  margin-right: 10px;
}

