.Form__input_group {
  width: 100%;
}

.Form__error_message {
  height: 60px;
  margin-bottom: 15px;
  border-left: 2px solid #a94442;
  padding-left: 10px;
  padding-top: 25px;
}

.Form__error_message_spacer {
  height: 60px;
  margin-bottom: 15px;
}

