.Form__input_group {
  width: 100%;
}

.Form__error_message {
  height: 35px;
  margin-top: 25px;
  border-left: 2px solid #a94442;
  padding-left: 10px;
}

.Form__error_message_spacer {
  height: 35px;
  margin-top: 25px;
}

