.MessageBox {
  display: inline-flex;
}

.MessageBox__container {
  position: relative;
  color: #8a6d3b;
  border: 1px solid #faebcc;
  height: 125px;
  width: 140px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fcf8e3;
  box-shadow: 3px 3px 5px #888888;
  word-wrap: break-word;
}

.MessageBox__date {
  position: absolute;
  bottom: 2px;
  font-size: 8pt;
}

.MessagesWrapper {
  position: absolute;
  top: 58px;
  bottom: 0;
  left: 285px;
  right: 10;
}

.MessagesWrapper__Topic {
  text-align: center;
}

.MessageInputArea {
  position: absolute;
  width: 400px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px;
  background-color: #0084B4;
  background: rgba(0, 132, 180, .1);
  border-radius: 5px 5px 0px 0px;
}

.MessageInputArea__textarea {
  width: 100%;
  height: auto;
  resize: none;
  border-radius: 5px;
  border-color: #bce8f1;
}

.MessageInputArea__controls {
  margin-top: 10px;
}
.MessageInputArea__button {
  display: block;
}

.MessageInputArea__category {
  margin-right: 10px;
  display: block;
}

.MessageList {
  position: absolute;
  bottom: 138;
  top: 50;
  right: 10;
  left: 0;
}

.MessageList__list {
  padding-left: 20px;
  padding-right: 20px;
}

.MessageList__2col_category {
  display: inline-block;
  position: relative;
  margin: 0;
  float: left;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.MessageList__2col_category:nth-child(2) {
  border-left: 1px solid #cdcdcd;
}

.MessageList__2col_category--header {
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
}
.MessageList__2col_category--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.MessageList__4x4_category {
  float: left;
  width: 50%;
  height: 50%;
}

.MessageList__4x4_category--container {
  height: 80%;
  overflow: scroll;
}

.MessageList__4x4_category:nth-child(2),
.MessageList__4x4_category:nth-child(4) {
  border-left: 1px solid #cdcdcd;
}

.MessageList__4x4_category--header {
  text-align: center;
  border-bottom: 1px solid #cdcdcd;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;  /* make things invisible upon start */
 animation:fadeIn ease-in 1;
 animation-fill-mode:forwards;
 animation-duration:0.25s;
}
