
.top__logo-container {

}

.top__logo-text {

}

.top__header {
  margin: 10;
  height: 60px;
  width: $site-width;
  margin-left: auto;
  margin-right: auto;
}

.top__navigation {
  margin-top: 30px;
}

.top__navigation_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top__navigation_list_item {
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
  float: right;
}

.top__navigation_link {
  text-decoration: none;
  color: $link-color;
}
.top__navigation_link.active {
  color: $link-active-color;
}

.top__navigation_link:hover {
  color: $link-hover-color;
}
