
$font-stack: 'Open Sans', Helvetica, sans-serif;
$emphasis-color: rgb(246, 143, 143);
$body-color: rgb(237, 237, 237);
$site-width: 1024px;
$link-active-color: darkblue;
$link-hover-color: lightblue;
$link-color: blue;
$message-box-color: rgb(248, 236, 118);

