@import 'variables';
@import 'topnav';
@import 'messages';

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

.main__wrapper {
  height: 500px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0;
  padding: 20px;
  background-color: $body-color;
}

.main__application {
  width: $site-width;
  margin-left: auto;
  margin-right: auto;
}


