@import 'variables';
@import 'messages';
@import 'activities';
@import 'users';
@import 'forms';
@import 'tokeninput';
@import 'mixins';
@import 'bootstrap-social';

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

.Main__wrapper {
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 50px 0px 0px 0px;
  padding: 20px;
}

.Main__application {
  margin-left: 300px;
}

.Main__TeamList {
  @extend .left-list;
}

.Main__ActivityList {
  @extend .left-list;
}

.left-list {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 270px;
  overflow: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  background-color: #eeeeee;
  border-right: 1px solid #dddddd
}

.action-btn {
  margin-right: 5px;
}

.ItemBox {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.ItemBox__Header {
  margin-top: 0;
}

.ItemBox__Header:hover {
  text-decoration: underline;
}

.ItemBox__Header__Icon {
  margin-right: 5px;
}
