#
# RethinkDB instance configuration sample
#
# - Give this file the extension .conf and put it in /etc/rethinkdb/instances.d in order to enable it.
# - See http://www.rethinkdb.com/docs/guides/startup/ for the complete documentation
# - Uncomment an option to change its value.
#

###############################
## RethinkDB configuration
###############################

directory=/var/lib/rethinkdb/rethinkdb_data
bind=all
# cache-size=1024

